* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}
.menu-bar {
    background-image: linear-gradient(-90deg,#7590C7,#2dd1f4);
}
.nav-link{
    font-size:20px;
    margin:3px;
    color:#fff!important;
    font-weight:500;
}
select{
    min-width:150px;
}
#navbarNav {
    direction: rtl;
}
#noResultPH{
    color:#000;
    font-size:25px;
    text-align:center;
}
.navbar-nav {
    text-align: right;
    margin-right: 20px;
}
.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none;
    border: none;
}
.navbar-light .navbar-toggler {
    border: #fff solid 1px;
    background-color: #fff;
}
.navbar .fa{
    color:#fff!important;
    font-size:26px;
}
.nav-link:hover{
    font-weight:600;
    border-bottom:1px solid #fff;
}
.navbar-brand img {
    width: 80px;
    margin-top: 5px;
    margin-left: 20px;
    height: 80px;
}
.bg-light {
    background-image: linear-gradient(-90deg,#7590C7,#2dd1f4);
}
.btn-outline-success {
    color: #7590C7 !important;
    border-color: #7590C7 !important;
}
.main {
    background-image: none;
    padding-right: 5px;
}
.btn-outline-success:hover {
    color: #fff!important;
    background-color: #7590C7 !important;
    border-color: #7590C7 !important;
}
.row {
    justify-content: center;
}
.navbar-text {
    color: #fff !important;
}
.btn-secondary {
    color: #7590C7 !important;
    background-color: #fff !important;
    border-color: #7590C7 !important;
}
    .btn-secondary:hover {
        color: #fff !important;
        background-color: #7590C7 !important;
        border-color: #fff !important;
    }

.btn-card {
    padding: .375rem .75rem;
    color: #fff !important;
    background-color: #7590C7 !important;
    border-color: #7590C7;
    border-radius: 2.25rem !important;
    outline: none !important;
    /*align-self: flex-end;*/
}


    .btn-card:hover {
        color: #7590C7 !important;
        background-color: #fff !important;
        border-color: #7590C7 !important;
        /*align-self: flex-end;*/
    }

.dropdown-menu {
    text-align: center;
    min-width: 8rem;
}
p {
    padding-right: 1rem;
}

.favouritesBTN {
    color: #7491c8 !important;
    border-color: #fff;
    background: transparent;
    border: none;
    font-size: 25px;
}
    .favouritesBTN:hover {
        color: #000 !important;
        border-color: #7491c8;
    }
.favouritesBTNred {
    color: red;
    border-color: red;
    background: transparent;
    border: none;
    font-size: 25px;
}

.btn {
    left: 10px;
    border-radius: 2.25rem !important;
    margin-left: 3px;
}
.btn-danger {
    color: #fff !important;
    background-color: #cc868d !important;
    border-color: #cc868d !important;
}
    .btn-danger:hover {
        color: #cc868d !important;
        background-color: #fff !important;
        border-color: #cc868d !important;
    }
form-inline .bi {
    color: #7590C7 !important;
    font-size: 26px;
    width: 1px;
}

input .form-control {
    border-color: #7195ca;
}

.form-control {
    border-radius: 1.25rem !important;
}
.filter {
    direction: rtl;
    border: 1px solid #7195ca;
    text-align: center;
    padding: 10px;
    border-radius: 20px;

}
.row .filter {
    background-color: rgb(0 123 255 / 25%);
}
#searchFilter {
    direction: rtl;
}
.marginbtn{
    margin-top:5px;
}
@media only screen and (max-width: 1024px) {
    .nav-link:hover {
        border-bottom: none !important;
    }
    }
@media only screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        height: auto;
    }
}